//= views/header.html

<section class="inner-page inner-page page not-found-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 search-ntf-title">
                <h1>The page you are looking for is not found</h1>
                <p>
                    The page you are looking for does not exist. It may have been moved, or removed altogether.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="search-wrap">
    <div class="container">
        <div class="row">
            <article class="col-md-12 article">
                //= views/search-shortcode.html
            </article>
        </div>
    </div>
</section>

<section class="bottom-baner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="bottom-baner">
                    <div class="bottom-baner-title">Get your Custom Essay Sample!</div>
                    <div class="bottom-baner-subtitle">For only $12.90 per page</div>
                </div>
            </div>
        </div>
    </div>
</section>

//= views/footer.html