//= views/header.html

<header class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">About Us</li>
                </ol>
                <h1>
                    Welcome to StudyTiger!
                </h1>
            </div>
        </div>
    </div>
</header>
<!--/Page Header -->

<section class="single about-us">
    <div class="container">
        <div class="row">
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <p>StudyTiger is a major educational resource aimed to provide students with additional insights and guidance. We are the first point of reference for millions of scholars when it comes to improving their homework and educational performance.
                        Free essay examples:</p>

                    <p>Writing good quality papers is one of the biggest challenges there are in high school, college or university. We collected thousands of essays and papers that cover almost a hundred of academic topics. Feel free to browse through various
                        term papers, essays, case studies or research projects without any tedious registration process – just filter by topic and read!</p>

                    <p>StudyTiger is a major educational resource aimed to provide students with additional insights and guidance. We are the first point of reference for millions of scholars when it comes to improving their homework and educational performance.
                        Free essay examples:</p>

                    <p>Writing good quality papers is one of the biggest challenges there are in high school, college or university. We collected thousands of essays and papers that cover almost a hundred of academic topics. Feel free to browse through various
                        term papers, essays, case studies or research projects without any tedious registration process – just filter by topic and read!</p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="full-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="full-banner-text">
                    <div class="top">WE WILL WRITE A CUSTOM ESSAY SAMPLE ON</div>
                    <div class="middle">ANY TOPIC SPECIFICALLY FOR YOU</div>
                    <div class="bottom">FOR ONLY <span>$12.90/PAGE</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="full-banner-btn text-center">
                    <a class="btn btn-primary|secondary|success|info|warning|danger" href="#" role="button">
                        Order now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="single about-us">
    <div class="container">
        <div class="row">
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <h2>Free online courses</h2>
                    <p>
                        Whether you are interested in photography or need additional guidance to understand your finance class – we have over 300 study videos and lectures that will broaden your knowledge and deepen understanding of world’s most demanded areas. Programming,
                        project management or market economy – you can learn everything at your own pace!
                    </p>
                    <h2>
                        Study Tiger courses are designed to make knowledge sexy!
                    </h2>
                    <p>
                        You aren’t alone going through a demanding study process – there have been millions of people who lived through it and survived. So we thought why don’t we create a platform where everybody can share their experiences with each other to make it at least
                        a little easier to handle the most difficult aspects of studying.
                    </p>
                    <p>Welcome to the global community or Study Tigers!</p>
                    <h2>Study Tiger is a killer tool for making academic endeavors easier</h2>
                    <p>
                        Thousands of free essays;<br> Hundreds of topics covered;<br> Possibility to get a custom sample from the author whose works you like;<br> Online courses in interesting formats;<br>
                    </p>
                    <h2>How to get the most out of Study Tiger?</h2>
                    <p>
                        Our main value is flexibility, so every scholar is free to use Study Tiger website however and whenever he or she likes. Here’s an example how our database can help you quickly solve any writing challenge:
                    </p>
                    <ul>
                        <li>Know the topic of your essay, term paper, research paper, case study or presentation;</li>
                        <li>Filter all texts to see what aspect of this topic we have already discovered;</li>
                        <li>Click on the title that is relevant to your own;</li>
                        <li>Simply click to see all the texts – no download necessary.</li>
                        <li>Our main value is your happiness, that’s why Study Tiger is all about:</li>
                        <li>Simplicity: view texts and courses in one click</li>
                        <li>Efficiency: find only data that is useful for your essay</li>
                        <li>Creativity: gain inspiration from revealing new insights</li>
                        <li>Inclusivity: courses and essays are free and always will be</li>
                    </ul>
                    <h2>
                        Study Tiger isn’t an essay service – Study Tiger is a real educational help every student deserves!
                    </h2>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="bottom-baner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left bottom-baner">
                <div class="bottom-baner-title">Get your Custom Essay Sample!</div>
                <div class="bottom-baner-subtitle">For only $12.90 per page</div>
            </div>
        </div>
    </div>
</section>


//= views/footer.html