 //= views/header.html


<header class="inner-page single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active"> Contact</li>
                </ol>
                <h1>
                    Contact
                </h1>

            </div>
        </div>
    </div>
</header>
<!--/Page Header -->

<section class="contact-page">
    <div class="container-fluid">
        <div class="row">
            <div class="map">
                <div class="map" id="map"></div>
                <div class="infobox">
                    <ul>
                        <li class="phone">+1 (886) 234 5670</li>
                        <li class="e-mail">info@studytiger.com</li>
                        <li class="address">
                            300 Park Ave, New York, <br> NY 10022, United States
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>If you have any questions, please fill in the form below</h2>
                <form class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="input input--animate">
                                <input class="input__field input__field--animate" name="name" type="text" id="input-1">
                                <label class="input__label input__label--animate" for="input-1">
                                        <span class="input__label-content input__label-content--animate" data-content="Name">Name</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="input input--animate">
                                <input class="input__field input__field--animate" name="email" type="text" id="input-2">
                                <label class="input__label input__label--animate" for="input-2">
                                    <span class="input__label-content input__label-content--animate" data-content="E-mail">E-mail</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input input--animate">
                                <textarea id="input-4" class="input__field input__field--animate" rows="2" cols="45" name="message"></textarea>
                                <label class="input__label input__label--animate" for="input-4">
                                    <span  class="input__label-content input__label-content--animate" data-content="Message">Message</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input type="submit" class="btn btn-theme" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="bottom-baner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left bottom-baner">
                <div class="bottom-baner-title">Get your Custom Essay Sample!</div>
                <div class="bottom-baner-subtitle">For only $12.90 per page</div>
            </div>
        </div>
    </div>
</section>
<!-- Add only Here -->
<script>
    function initMap() {
        var uluru1 = {
            lat: 40.757035,
            lng: -73.974628
        };

        var styleArray = [{
            "featureType": "administrative",
            "elementType": "all",
            "stylers": [{
                "visibility": "on"
            }, {
                "saturation": -100
            }, {
                "lightness": 20
            }]
        }, {
            "featureType": "road",
            "elementType": "all",
            "stylers": [{
                "visibility": "on"
            }, {
                "saturation": -100
            }, {
                "lightness": 40
            }]
        }, {
            "featureType": "water",
            "elementType": "all",
            "stylers": [{
                "visibility": "on"
            }, {
                "saturation": -10
            }, {
                "lightness": 30
            }]
        }, {
            "featureType": "landscape.man_made",
            "elementType": "all",
            "stylers": [{
                "visibility": "simplified"
            }, {
                "saturation": -60
            }, {
                "lightness": 10
            }]
        }, {
            "featureType": "landscape.natural",
            "elementType": "all",
            "stylers": [{
                "visibility": "simplified"
            }, {
                "saturation": -60
            }, {
                "lightness": 60
            }]
        }, {
            "featureType": "poi",
            "elementType": "all",
            "stylers": [{
                "visibility": "on"
            }, {
                "saturation": -100
            }, {
                "lightness": 60
            }]
        }, {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [{
                "visibility": "on"
            }, {
                "saturation": -100
            }, {
                "lightness": 60
            }]
        }];

        var image = "img/icon.svg"
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: uluru1,
            styles: styleArray,
            disableDefaultUI: true
        });

        var marker = new google.maps.Marker({
            icon: image,
            position: uluru1,
            map: map,
            title: 'Hello World!'
        });

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1hOl-e98LTatAInprI3hz4cs41iTW6Z0&callback=initMap"></script>
<script>
    (function() {
        if (!String.prototype.trim) {
            (function() {

                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function() {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [].slice.call(document.querySelectorAll('.input__field')).forEach(function(inputEl) {
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
</script>


//= views/footer.html