//= views/header.html


<!-- Search Header (if is_front_page) -->
<header class="front-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="title">What are you looking for?</div>
                <p>StudyTiger is a major educational resource aimed to provide students with additional insights and guidance. We are the first point of reference for millions of scholars when it comes to improving their homework and educational performance.</p>
                <form class="form" role="search" method="get" action="/">
                    <div class="form-input-fields">
                        <input value="" name="s" type="search" placeholder="Type your topic here" class="control" type="text">
                        <button name="submit" type="submit" class="btn btn-block btn-submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                    </div>
                </form>
                <div class="sub-title">
                    Haven’t found essay you want?
                </div>
                <p>
                    <a href="#"> Get your custom sample! </a>
                </p>
                <!-- End newsletter-form -->
            </div>
        </div>
    </div>
</header>
<!--/Search Header -->

<section class="features section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="section-top-title">STUDY TIGER ISN’T AN ESSAY SERVICE</div>
                <h1>Study Tiger is a real educational help every student deserves</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="row features-item">
                    <div class="col-md-2 col-sm-2">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <h2>Thousands of real essays</h2>
                        <p>
                            Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row features-item">
                    <div class="col-md-2 col-sm-2"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div class="col-md-10 col-sm-10">
                        <h2>Free online courses</h2>
                        <p>
                            In the tumultuous business of cutting-in and attending to a whale, there is.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="row features-item">
                    <div class="col-md-2 col-sm-2"><i class="fa fa-copyright" aria-hidden="true"></i></div>
                    <div class="col-md-10 col-sm-10">
                        <h2>Personal approach</h2>
                        <p>
                            Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat au.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row features-item">
                    <div class="col-md-2 col-sm-2"><i class="fa fa-copyright" aria-hidden="true"></i></div>
                    <div class="col-md-10 col-sm-10">
                        <h2>Free online courses</h2>
                        <p>
                            So strongly and physically did I conceive of my situation then.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="categories section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-top-title">almost a 100 of academic topics</div>
                <h3> Popular categories</h3>
            </div>
        </div>
        <div class="row cats-list">
            <div class="col-md-12">
                <ul class="list-group">
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Book</a></li>
                    <li><a href="#">American</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Christianity</a></li>
                    <li><a href="#">Communication</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Computer</a></li>
                    <li><a href="#">Economics</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Employment</a></li>
                    <li><a href="#">Ethics</a></li>
                    <li><a href="#">Child</a></li>
                    <li><a href="#">Crime</a></li>
                    <li><a href="#">Family</a></li>
                    <li><a href="#">Children</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="btn-readmore" href="#" role="button">Show more</a>
            </div>
        </div>
    </div>
</section>

<section class="full-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="full-banner-text">
                    <div class="top">WE WILL WRITE A CUSTOM ESSAY SAMPLE ON</div>
                    <div class="middle">ANY TOPIC SPECIFICALLY FOR YOU</div>
                    <div class="bottom">FOR ONLY <span>$12.90/PAGE</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="full-banner-btn text-center">
                    <a class="btn btn-primary|secondary|success|info|warning|danger" href="#" role="button">
                        Order now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="last-articles section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-top-title">STUDY TIGER ISN’T AN ESSAY SERVICE</div>
                <h3>Study Tiger is a real educational help every student deserves</h3>
            </div>
        </div>
        <div class="row last-articles-list">
            <div class="col-xs-12">
                <h3><a href="">Clinical reseach</a></h3>
                <p>The Bourbon Reforms were a series of changes imposed by the Spanish Crown, Charles III and IV, upon their colonies in Latin America in the 1780s. The central goals of the reforms included centralizing Spanish government, restoring finances,
                    and reorganizing the military. These innovations also aimed at limiting the power of the Catholic Church, imposing…</p>
            </div>
            <div class="col-xs-12">
                <h3><a href="">Clinical reseach</a></h3>
                <p>The Bourbon Reforms were a series of changes imposed by the Spanish Crown, Charles III and IV, upon their colonies in Latin America in the 1780s. The central goals of the reforms included centralizing Spanish government, restoring finances,
                    and reorganizing the military. These innovations also aimed at limiting the power of the Catholic Church, imposing…</p>
            </div>
            <div class="col-xs-12">
                <h3><a href="">Clinical reseach</a></h3>
                <p>The Bourbon Reforms were a series of changes imposed by the Spanish Crown, Charles III and IV, upon their colonies in Latin America in the 1780s. The central goals of the reforms included centralizing Spanish government, restoring finances,
                    and reorganizing the military. These innovations also aimed at limiting the power of the Catholic Church, imposing…</p>
            </div>
            <div class="col-xs-12">
                <h3><a href="">Clinical reseach</a></h3>
                <p>The Bourbon Reforms were a series of changes imposed by the Spanish Crown, Charles III and IV, upon their colonies in Latin America in the 1780s. The central goals of the reforms included centralizing Spanish government, restoring finances,
                    and reorganizing the military. These innovations also aimed at limiting the power of the Catholic Church, imposing…</p>
            </div>
            <div class="col-xs-12">
                <h3><a href="">Clinical reseach</a></h3>
                <p>The Bourbon Reforms were a series of changes imposed by the Spanish Crown, Charles III and IV, upon their colonies in Latin America in the 1780s. The central goals of the reforms included centralizing Spanish government, restoring finances,
                    and reorganizing the military. These innovations also aimed at limiting the power of the Catholic Church, imposing…</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="bottom-baner">
                    <div class="bottom-baner-title">Get your Custom Essay Sample!</div>
                    <div class="bottom-baner-subtitle">For only $12.90 per page</div>
                </div>
            </div>
        </div>
    </div>
</section>

//= views/footer.html