 //= views/header.html

<!-- Page Header (if !is_front_page) -->
<header class="inner-page single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">Single Page</li>
                </ol>
                <h1>
                    Single Page
                </h1>
            </div>
        </div>
    </div>
</header>
<!--/Page Header -->

<section class="single-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12 article">
                <div class="content-wrap">
                    <div class="content">

                        //= views/popaps.html

                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

//= views/footer.html