//= views/header.html

<header class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">Search results</li>
                </ol>
                <h1>
                    We have found 320948 articles for ‘business’
                </h1>
            </div>
        </div>
    </div>
</header>
<!--/Page Header -->

<section class="search-page">
    <div class="container">
        <div class="row">
            <article class="col-md-12 article">
                //= views/search-shortcode.html
            </article>
        </div>
        <div class="row">
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="full-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="full-banner-text">
                    <div class="top">WE WILL WRITE A CUSTOM ESSAY SAMPLE ON</div>
                    <div class="middle">ANY TOPIC SPECIFICALLY FOR YOU</div>
                    <div class="bottom">FOR ONLY <span>$12.90/PAGE</span></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="full-banner-btn text-center">
                    <a class="btn btn-primary|secondary|success|info|warning|danger" href="#" role="button">
                        Order now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-page bottom">
    <div class="container">
        <div class="row">
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
            <article class="col-md-12 col-sm-12 article">
                <div class="article-wrap">
                    <a href="">What Is the Role of Sheila in An Inspector Calls</a>
                    <p>
                        Honda’s emphasis on technology began with Sochiro Honda’s own tinkering to develop engines one at a time, and his ambition to build and race high performance motorcycles. The success of his higher horsepower engines confirmed his ability as a designer.
                        Beginning with the study of combustion, he doubled horsepower and halved weights of engines. The…
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>



<div class="container">
    <div class="row text-center">
        <nav>
            <ul class="paginate list-inline meta">
                <li class="page-item">
                    <a href="#" aria-label="Previous">
                        <i class="fa fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="active">1</li>
                <li class="page-item"><a href="#">2</a></li>
                <li class="page-item"><a href="#">3</a></li>
                <li class="page-item"><a href="#">4</a></li>
                <li class="page-item"><a href="#">5</a></li>
                <li class="page-item"><a href="#">...</a></li>
                <li class="page-item"><a href="#">27</a></li>
                <li class="page-item">
                    <a href="#" aria-label="Next">
                        <i class="fa fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>



<section class="bottom-baner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="bottom-baner">
                    <div class="bottom-baner-title">Get your Custom Essay Sample!</div>
                    <div class="bottom-baner-subtitle">For only $12.90 per page</div>
                </div>
            </div>
        </div>
    </div>
</section>


//= views/footer.html