//= views/header.html

<header class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li class="active">Search results</li>
                </ol>
                <h1>
                    Sorry, no mathes found for ‘abracadabra’
                </h1>
            </div>
        </div>
    </div>
</header>
<!--/Page Header -->

<section class="search-page search-ntf">
    <div class="container">
        <div class="row">
            <article class="col-md-12 article">
                //= views/search-shortcode.html
            </article>
        </div>
    </div>
</section>

<section class="bottom-baner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="bottom-baner">
                    <div class="bottom-baner-title">Get your Custom Essay Sample!</div>
                    <div class="bottom-baner-subtitle">For only $12.90 per page</div>
                </div>
            </div>
        </div>
    </div>
</section>

//= views/footer.html