 //= views/header.html

<header class="inner-page single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Home</span>
                        </a>
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a href="/" itemprop="item" class="home">
                            <span itemprop="name">Free Essays</span>
                        </a>
                    </li>
                    <li class="active">Cancer and Radiation</li>
                </ol>
                <h1>
                    Cancer and Radiation
                </h1>

            </div>
        </div>
    </div>
</header>
<!--/Page Header -->

<section class="single-page signle-post">
    <div class="container">
        <div class="row">
            <article class="col-md-12 article">
                <div class="post-wrap">
                    <div class="post-content">
                        <div class="banner-content-single">
                            <div class="top">WE WILL WRITE A CUSTOM ESSAY SAMPLE ON</div>
                            <div class="middle">Role of Communication in Change Management</div>
                            <div class="bottom">FOR ONLY <span>$12.90/PAGE</span></div>
                            <a href="" class="button btn-theme">Order Now</a>
                        </div>
                        <p>At this point managed, it is impement shoued, it is impld assess the employee’s reaction to an implemented change and try to understand the reacted, it is impion to it. In many cases, change can be extremely beneficial with lots
                            of positives; however certain changes do sometimes pred, it is impoduce a tremendous amount of resistance.</p>
                        <p>In maned, cases, change can be extremely beneficial with lots of positives; however certain changes do sometimes produce a tremendous amed, of resistance. As a change leader we need to make decisions about who you must communicate
                            with, what needs to be communicated, when you will communicate and how you will do it. Who? Managers sometimes have a tendency to communicate about change on a “need to know basis”. However, effective change leaders recognize
                            that almost any change will have effects on most people in an organization, no matter how resistant they are towards the change. The basic rule of thumb is that communication should take place directly between the manager and
                            employees when employees. Except for situations that involve confidentiality, even those who are indirectly affected will likely want to know what is going on, and how it may affect them.</p>

                        <p>What? If you need to determine what to communicate, keep in mind what you are trying to accomplish through your communication about change. When you communicate you are trying to:
                            <p>
                                <ul>
                                    <li>Give information that will reduce uncertainty and ambiguity regarding the change. </li>
                                    <li>Pre-empt the hidden information system of the grapevine, so you can ensure that incorrect anxiety provoking information is not spreading. </li>
                                    <li>Provide forums for employees to communicate their reactions and concerns to you. While deciding what should be communicated, communicate as much information about the change as is available to you. If you only have
                                        a small amount of information about a negative change, communicating it may increase anxiety levels and rampant speculation. As a change leader, you must be aware that your staff will watch you carefully to guess
                                        how you are feeling about the change, and they will draw their own conclusions based on your behavior. Sometimes these conclusions will be wrong and destructive.</p>
                            </li>
                            </ul>
                            <p>When? The longer you wait to communicate details of change, the more likely you are to extend the period of adjustment. This is because it is very difficult to “keep a lid” on anything in government, and even if you are silent,
                                your staff will likely hear vague things through the grapevine. Grapevine information tends to be sketchy enough that it creates a high degree of anxiety, and also a high degree of mistrust of management. So, the earlier
                                you communicate the less likely erroneous or upsetting information will come through the grapevine. Communicate as early as possible about change, but do not assume that once you have done this the job is over. Communication
                                should occur in anticipation of change, during the implementation, and after the change has been stabilized.</p>

                            //= views/search-shortcode.html

                            <h2>Strategies for Communicating Change</h2>
                            <ol>
                                <li>Spray and Pray-Employees are showered with a wide variety of information. More information is assumed to equal better communication. Managers pray that staff will pick up on what is needed to be done. The upside of this
                                    strategy is that staff is exposed to extensive company information. The downside is that the staff is often unable to discern significant from insignificant information; understand what is happening but not why; and
                                    are overloaded with information.</li>
                                <li>Tell and Sell- Information is provided to staff, but it is limited to core organizational issues. Management attempts to both inform staff about changes and sell them on why they are required. The downside of this approach
                                    is the potential for employee skepticism cynicism since no meaningful dialogue is entered into with them; they become the passive recipients of the next wave of changed proposal.</li>
                                <li>Underscore and Explore-Fundamental issues remain the focus, but management engages employees in a dialogue about the change process and seeks to identify obstacles and misunderstandings that will need to be addressed.</li>
                                <li>Identify and Reply- A defensive strategy, it is used to identify and respond to employee rumors and innuendos regarding changes and work practices .It is an attempt to help staff, make sense out of issues that are confusing
                                    to them. The downside of this strategy is that it is reactive and assumes, usually inaccurately, that staff knows the key strategic and organizational issues that need to be addressed. </li>
                                <li>Withhold and Uphold-Information is withheld until it is absolutely necessary to release it, and management adopts a party line on issues that they uphold publicly. Information is not open and a bitter staff culture is likely
                                    to be the result.</li>
                            </ol>
                    </div>
                    <div class="row post-meta">
                        <div class="col-sm-6">
                            <div class="post-meta-title">Tags:</div>
                            <ul class="cats-list meta list-inline">
                                <li>
                                    <a href="">Sypmtoms</a>,
                                </li>
                                <li>
                                    <a href="">Sypmtoms</a>,
                                </li>
                                <li>
                                    <a href="">Sypmtoms</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <div id="share" class="jssocials"></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="raleted ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="raleted-top-title">PERFECT MATCH</div>
                <div class="raleted-title">Related Essays</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="article-wrap">
                    <h3><a href="#">Brain Cancer</a></h3>
                    <p>
                        In January 2012, the Center for Disease Control and Prevention released their Preliminary Data for the Leading Causes of Death in the United States. Their report showed…
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="article-wrap">
                    <h3><a href="#">Brain Cancer</a></h3>
                    <p>
                        In January 2012, the Center for Disease Control and Prevention released their Preliminary Data for the Leading Causes of Death in the United States. Their report showed…
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="article-wrap">
                    <h3><a href="#">Brain Cancer</a></h3>
                    <p>
                        In January 2012, the Center for Disease Control and Prevention released their Preliminary Data for the Leading Causes of Death in the United States. Their report showed…
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="article-wrap">
                    <h3><a href="#">Brain Cancer</a></h3>
                    <p>
                        In January 2012, the Center for Disease Control and Prevention released their Preliminary Data for the Leading Causes of Death in the United States. Their report showed…
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="article-wrap">
                    <h3><a href="#">Brain Cancer</a></h3>
                    <p>
                        In January 2012, the Center for Disease Control and Prevention released their Preliminary Data for the Leading Causes of Death in the United States. Their report showed…
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="article-wrap">
                    <h3><a href="#">Brain Cancer</a></h3>
                    <p>
                        In January 2012, the Center for Disease Control and Prevention released their Preliminary Data for the Leading Causes of Death in the United States. Their report showed…
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bottom-baner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left bottom-baner">
                <div class="bottom-baner-title">Get your Custom Essay Sample!</div>
                <div class="bottom-baner-subtitle">For only $12.90 per page</div>
            </div>
        </div>
    </div>
</section>


//= views/footer.html