/* Contacts */

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 10px 0;
    @media screen and (max-width: 767px) {
        margin: 20px 0;
    }
    width: 100%;
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 10px 10px 10px 0;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #000;
    font-weight: 600;
    -webkit-appearance: none;
    outline: none;
}

.input__label {
    display: inline-block;
    padding: 0 1em 0 0;
    width: 40%;
    color: #696969;
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__field--animate {
    width: 100%;
    background-color: #ffffff;
    border-bottom: solid 1px rgb(211, 211, 211);
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
    outline: none;
}

.input__field--animate:focus {
    border-bottom: solid 3px #fd8854;
    outline: none;
}

.input__label--animate {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    overflow: hidden;
    padding: 0 1.25em 0 0;
    -webkit-transform: translate3d(0, 2.3em, 0);
    transform: translate3d(0, 2.3em, 0);
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    /* height: 100%; */
}

.input__label-content--animate {
    color: #8B8C8B;
    padding: 0.25em 0;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.input__label-content--animate::after {
    content: attr(data-content);
    position: absolute;
    font-weight: 800;
    bottom: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fd8854;
    padding: 0.25em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
}

.input__field--animate:focus+.input__label--animate,
.input--filled .input__label--animate {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #fd8854;
}

.input__field--animate:focus+.input__label--animate .input__label-content--animate,
.input--filled .input__label-content--animate {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #fd8854;
}

.input__field--animate:focus+.input__field--animate,
.input--filled .input__field--animate {
    background-color: transparent;
    border-color: #fd8854;
}