footer {
    background-color: #393939;
    padding: 30px 0 20px 0;
    color: rgb(211, 211, 211);
    font-weight: normal;
    line-height: normal;
    position: relative;
    margin-top: 100px;
    .footer-banner {
        width: 100%;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 100;
        background-color: #616161;
        line-height: 70px;
        @media screen and (min-width: 768px) {
            height: 70px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
        p {
            font-size: 16px;
            color: #ffffff;
            @media screen and (max-width: 991px) {
                font-size: 14px;
            }
        }
        .foot-btn {
            font-size: 20px;
            @media screen and (max-width: 991px) {
                font-size: 18px;
            }
            font-weight: 500;
            color: #fd8854;
            background: 0;
            border: 0;
        }
        .bottom-fixed-banner__close {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 10px;
            right: 11px;
            display: inline-block;
            cursor: pointer;
            z-index: 9999;
            & img {
                display: block;
                max-width: 100%;
            }
        }
    }
    a {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgb(211, 211, 211);
        transition: all 0.3s ease;
        font-size: 14px;
        &:hover {
            color: #fff;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            padding-bottom: 10px;
        }
    }
    .widget {
        &-title {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            color: rgb(0, 201, 113);
            margin: 0 0 10px 0;
        }
        .contact {
            @media screen and (min-width: 992px) {
                text-align: right;
            }
            @media screen and (max-width: 991px) {
                margin-top: 20px;
            }
            span {
                display: block;
            }
            &-address {
                margin: 12px 0;
                line-height: 1.45;
            }
        }
        &-body {}
    }
    .copyright {
        margin-top: 30px;
        p {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: rgb(211, 211, 211);
            color: var(--white-two);
        }
    }
}