    /**** Common *****/
    
    .section {
        padding-top: 50px;
        padding-bottom: 40px;
        h3 {
            margin: 12px 0 30px 0;
            line-height: 1;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #36271c;
        }
        &-top-title {
            font-weight: 500;
            color: #fd8854;
            line-height: 1;
            text-transform: uppercase;
        }
    }
    /****** features *******/
    
    .features {
        padding-top: 50px;
        padding-bottom: 0;
        h1 {
            margin: 12px 0 50px 0;
            line-height: 1;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #36271c;
        }
        &-top-title {
            font-weight: 500;
            color: #fd8854;
        }
        i {
            font-size: 60px;
            color: #fd8854;
        }
        &-item {
            h2 {
                margin: 0 0 10px 0;
                font-size: 16px;
                font-weight: 500;
                color: #36271c;
            }
            p {
                font-size: 14px;
                line-height: 1.21;
                color: #36271c;
            }
        }
        & .row {
            &:nth-child(3) {
                margin-top: 50px;
            }
        }
    }
    /****** Categories ******/
    
    .categories {
        & ul.list-group {
            padding: 0;
            margin: 0;
            list-style: none;
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
            text-align: center;
            column-gap: 187px;
            li {
                padding-bottom: 15px;
                a {
                    display: inline-block;
                    border-radius: 100px;
                    border: solid 1px #fd8854;
                    width: 145px;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    color: #36271c;
                    height: 30px;
                    line-height: 30px;
                    &:hover,
                    &:focus {
                        color: #fff;
                        background: #fd8854;
                        text-decoration: none;
                    }
                }
            }
        }
        & .btn-readmore {
            color: #fd8854;
            font-weight: 500;
            &:hover {
                opacity: 0.8;
            }
        }
        & .row {
            &:nth-child(3) {
                margin-top: 29px;
            }
        }
    }
    /******* Banner full width *******/
    
    .full-banner {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        color: #ffffff;
        background-color: rgba(54, 39, 28, 0.9);
        padding: 39px 0;
        &-text {
            & .bottom {
                span {
                    color: #fa7343;
                    font-weight: bold;
                }
                font-size: 26px;
                font-weight: 500;
                color: #ffffff;
            }
        }
        &-btn {
            padding-top: 26px;
            padding-bottom: 26px;
            & .btn {
                width: 140px;
                height: 40px;
                border-radius: 2px;
                border: solid 3px #fd8854;
                font-size: 16px;
                font-weight: 500;
                color: #fd8854;
                text-align: center;
            }
        }
    }
    /******* last-articles ******/
    
    .last-articles {
        &-list {
            h3 {
                text-align: left;
                font-size: 16px;
                font-weight: 500;
                a {
                    color: #393939;
                    display: block;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.85;
                    }
                    &:after {
                        content: '';
                        display: block;
                        width: 80%;
                        max-width: 110px;
                        margin: 5px 0;
                        height: 5px;
                        background: #fd8854;
                        text-decoration: none;
                    }
                }
            }
            & div[class*="col-"]:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    /***** Bottom Banner ******/
    
    .bottom-baner {
        background-color: #36271c;
        @media screen and (min-width: 768px) {
            border-radius: 3px;
        }
        padding-top: 36px;
        padding-left: 50px;
        padding-bottom: 36px;
        &-title {
            font-size: 20px;
            font-weight: bold;
            color: #fd8854;
            line-height: 1.4;
        }
        &-subtitle {
            font-size: 16px;
            color: #ffffff;
        }
    }