body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.3px;
    color: #36271c;
}

a,
section,
article,
div {
    transition: all 0.3s ease;
}

.site {
    &-nav {
        min-height: 60px;
        background-color: #393939;
        border-width: 0;
        border-radius: 0;
        margin-bottom: 0;
        & .navbar-brand {
            float: left;
            height: 60px;
            padding: 12px 0px;
        }
        @media screen and (max-width: 768px) {
            .navbar-toggle {
                margin-top: 13px;
                margin-bottom: 13px;
                border-radius: 0;
                border-color: #fd8854;
                & span.icon-bar {
                    background-color: #fd8854;
                }
            }
        }
        .navbar-nav {
            &>li>a {
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                padding: 0 25px;
                font-size: 16px;
                line-height: 60px;
                &:hover,
                &:focus {
                    opacity: .9;
                    color: #fff;
                }
            }
            li.btn-hire {
                line-height: 60px;
                a {
                    display: inline-block;
                    padding: 0px 35px;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    white-space: nowrap;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    border-radius: 4px;
                    color: #393939;
                    background-color: #fff;
                    line-height: 32px;
                    height: 30px;
                    &:hover {
                        background: #fd8854;
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

header.front-page {
    position: relative;
    overflow: hidden;
    margin-top: 60px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/header-top-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: blur(4.9px);
        filter: blur(4.9px);
        @media screen and (max-width: 767px) {
            background-position: center right;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
    }
    .container {
        z-index: 2;
        position: relative;
    }
    padding: 80px 0 70px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.25);
    .title {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 20px;
    }
    p {
        font-size: 15px;
        line-height: 1.2;
        text-align: center;
        color: #ffffff;
    }
    .form {
        width: 100%;
        display: inline-block;
        position: relative;
        &-input-fields {
            float: left;
            box-sizing: border-box;
            position: relative;
            width: 100%;
            & input {
                width: 100%;
                line-height: 53px;
                border: 0;
                height: 53px;
                padding-left: 30px;
                border-radius: 3px;
                font-size: 16px;
                font-weight: normal;
                line-height: normal;
                color: #000;
            }
        }
        & button {
            position: absolute;
            top: 0;
            right: 0;
            height: 53px;
            line-height: 53px;
            width: 10%;
            background: 0 0;
            border-color: transparent;
            color: #9b9b9b;
            padding: 0;
            font-size: 20px;
            @media screen and (max-width: 480px) {
                width: 25%;
            }
            box-sizing: border-box;
        }
    }
    .sub-title {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        text-align: center;
        color: #ffffff;
        &+p {
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            a {
                color: #fa7343;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 10px;
    }
    .navbar-collapse {
        text-align: center;
        .navbar-nav>li>a {
            line-height: 35px;
        }
    }
}

.list-inline {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
    }
}

.btn-theme {
    padding: 12px 22px;
    border-radius: 2px;
    border: solid 3px #fd8854;
    font-size: 14px;
    font-weight: 500;
    color: #fd8854;
    text-align: center;
    background: transparent;
    outline: none;
    &:hover,
    &:focus {
        background: #fd8854;
        color: #fff;
        box-shadow: none;
        outline: none;
    }
}