/****** Page Title / Breadcrumb *******/

.page {
    margin-top: 60px;
    &+.bottom-baner-page {
        margin-bottom: 30px;
    }
    h1 {
        font-weight: 500;
        margin: 25px 0 25px 0;
    }
}

.search-ntf {
    margin-top: 20px;
    &-title {
        text-align: center;
        color: #393939;
        margin: 0px 0 16px 0;
        h1 {
            margin-top: 50px;
            font-weight: bold;
            font-size: 24px;
        }
    }
    p {
        font-size: 14px;
        text-align: center;
        color: #393939;
        margin: 0;
    }
    &+.bottom-baner-page {
        margin-top: 156px;
    }
}

.search-wrap {
    h1 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #393939;
    }
    &+.bottom-baner-page {
        margin-top: 156px;
    }
}


/***** About US ****/

.single {
    h1 {
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        color: #36271c;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 16px;
        font-weight: 500;
        color: #36271c;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &+.full-banner {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &+.bottom-baner-page {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


/* Single Page */

.signle-post {
    & .banner-content-single {
        float: left;
        margin: 0 30px 20px 0;
        max-width: 300px;
        @media screen and (max-width: 768px) {
            max-width: none;
            width: 100%;
        }
        max-height: 300px;
        text-transform: uppercase;
        color: #fff;
        background-color: rgba(54, 39, 28, 0.7);
        border: solid 1px #979797;
        padding: 70px 20px;
        border-radius: 3px;
        & .top {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.36;
            color: #ffffff;
        }
        & .middle {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.22;
            color: #ffffff;
        }
        & .bottom {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;
            color: #ffffff;
            margin-bottom: 18px;
            span {
                font-size: 18px;
                font-weight: 700;
                line-height: 1.22;
                color: #fa7343;
            }
        }
        & .button {
            display: block;
            color: #fd8854;
            font-size: 14px;
            text-transform: none;
            padding: 6px 22px;
            &:hover {
                opacity: 0.85;
            }
        }
        &:after {
            display: table;
            content: "";
            clear: both;
        }
    }
    .post-content {
        p {
            font-size: 16px;
            line-height: 1.38;
            color: #36271c;
        }
        ul,
        ol {
            font-size: 16px;
            line-height: 1.38;
            color: #36271c;
            padding: 0;
            margin: 0;
            margin-left: 15px;
        }
        ul {
            list-style: none;
            li {
                padding-left: 1em;
                text-indent: -.7em;
                &:before {
                    content: "• ";
                    color: #fa7343;
                    font-size: 18px;
                }
            }
        }
        h2 {
            font-size: 16px;
            line-height: 1.38;
            color: #36271c;
            font-weight: 500;
        }
    }
    .post-meta {
        margin-bottom: 15px;
        &-title {
            @media screen and (max-width: 767px) {
                display: block;
                margin-top: 15px;
            }
            font-weight: 700;
            display: inline-block;
            padding-right: 5px;
        }
        ul {
            list-style: none;
            @media screen and (max-width: 767px) {
                display: block;
                margin-bottom: 20px;
            }
            @media screen and (min-width: 768px) {
                margin-top: 15px;
            }
            display: inline-block;
            li {
                padding: 0;
                padding-right: 10px;
                a {
                    font-size: 14px;
                    line-height: 1.21;
                    color: #fa7343;
                }
            }
        }
        & .jssocials {
            text-align: right;
            @media screen and (max-width: 767px) {
                text-align: left;
            }
        }
    }
}

.raleted {
    &-top-title {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        color: #fd8854;
        line-height: 1;
        margin-top: 40px;
    }
    &-title {
        margin-top: 12px;
        line-height: 1;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #291d16;
        margin-bottom: 40px;
    }
    .article-wrap {
        h3 {
            text-align: left;
            font-size: 16px;
            font-weight: 500;
            margin: 12px 0 12px;
            a {
                color: #393939;
                display: block;
                &:hover {
                    text-decoration: none;
                    opacity: 0.85;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 80%;
                    max-width: 110px;
                    margin: 5px 0;
                    height: 5px;
                    background: #fd8854;
                    text-decoration: none;
                }
            }
        }
    }
    &+.bottom-baner-page {
        margin-top: 40px;
    }
}


/* Contact US */

.contact-page {
    padding-bottom: 42px;
    & .map {
        z-index: 6;
        min-height: 304px;
        width: 100%;
        display: block;
        position: relative;
    }
    & h2 {
        font-size: 16px;
        font-weight: 500;
        color: #36271c;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    & .infobox {
        object-fit: contain;
        border-radius: 3px;
        background-color: #36271c;
        z-index: 9999;
        font-weight: 300;
        padding: 30px 40px;
        @media screen and (min-width: 1199px) {
            right: 25%;
        }
        @media screen and (min-width: 768px) {
            position: absolute;
            top: 50%;
            transform: translate( 0, -50%);
            right: 10%;
            min-width: 280px;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            margin: 25px 0;
            border-radius: 0;
        }
        & ul {
            padding: 0;
            list-style: none;
            li {
                font-size: 14px;
                line-height: 1.29;
                color: #ffffff;
                padding-left: 25px;
                &:not(:last-child) {
                    padding-bottom: 15px;
                }
                &:before {
                    font-family: FontAwesome;
                    display: inline-block;
                    margin-left: -25px;
                    width: 25px;
                }
                &.phone {
                    &:before {
                        content: "\f095";
                    }
                }
                &.e-mail {
                    &:before {
                        content: "\f003";
                    }
                }
                &.address {
                    &:before {
                        content: "\f1d9";
                    }
                }
            }
        }
    }
    .btn-theme {
        padding: 12px 41px;
        line-height: 1;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }
}


/***** Search Shortcode ****/

.search-shorcode-wrap {
    border-radius: 3px;
    background-color: #ffefe7;
    padding: 30px 60px;
    margin-top: 10px;
    @media screen and (min-width: 480px) {
        padding: 30px 60px;
    }
    @media screen and (max-width: 479px) {
        padding: 30px 10px;
    }
    .form {
        width: 100%;
        display: block;
        .form-group {
            margin-bottom: 7px;
        }
        &-input-fields {
            float: left;
            @media screen and (min-width: 480px) and (max-width: 767px) {
                width: 75%;
            }
            @media screen and (min-width: 768px) {
                width: 85%;
            }
            @media screen and (max-width: 479px) {
                width: 100%;
            }
            box-sizing: border-box;
            position: relative;
            & input {
                width: 100%;
                line-height: 46px;
                border: 0;
                height: 46px;
                padding-left: 45px;
                border: solid 3px #36271c;
                border-radius: 2px 0 0 2px;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000;
            }
            & .form-icon-serach {
                position: absolute;
                left: 15px;
                color: #ccc;
                top: 50%;
                transform: translate(0, -50%);
                i {
                    font-size: 25px;
                    color: #36271c;
                }
            }
        }
        & button {
            @media screen and (min-width: 480px) {
                width: 15%
            }
            @media screen and (min-width: 480px) and (max-width:767px) {
                width: 25%;
            }
            @media screen and (max-width: 479px) {
                width: 100%;
            }
            box-sizing: border-box;
            border-radius: 0 2px 2px 0;
            background-color: #36271c;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            color: #fff;
            height: 46px;
            line-height: 46px;
            padding: 0;
            border: 1px solid #36271c;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            outline: 0;
        }
        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }
}

.search-page,
.category {
    &+.full-banner {
        margin-bottom: 30px;
    }
    .search-shorcode-wrap {
        margin-bottom: 20px;
    }
    .article {
        &:not(:last-child) {
            & .article-wrap {
                margin-bottom: 30px;
            }
        }
        &-wrap {
            & a {
                font-size: 16px;
                font-weight: 500;
                color: #36271c;
                display: block;
                &:after {
                    content: '';
                    display: block;
                    width: 80%;
                    max-width: 110px;
                    margin: 5px 0;
                    height: 5px;
                    background: #fd8854;
                }
                &:hover {
                    text-decoration: none;
                    opacity: 0.85;
                }
            }
            & p {
                margin-bottom: 0;
            }
        }
    }
}

.search-page:not(.bottom) {
    & .article {
        & .article-wrap {
            margin-bottom: 30px;
        }
    }
}


/****** paginate *******/

.paginate {
    margin: 30px 0;
    li {
        padding: 0 10px;
        margin: 0;
        @media screen and (max-width: 767px) {
            padding: 0 10px;
        }
    }
    li a {
        font-size: 14px;
        color: #36271c;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.9;
            text-decoration: none;
            font-size: 14px;
        }
    }
    li.active {
        font-weight: 900;
        font-weight: 900;
        color: #36271c;
    }
}


/****** CATEGORY Essay PAGe ******/

.banner-content {
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: #ffefe7;
    padding: 15px 40px;
    &-top {
        font-size: 16px;
        font-weight: bold;
        color: #36271c;
    }
    &-middle {
        font-size: 14px;
        line-height: 1.43;
        color: #36271c;
    }
    &-bottom {
        font-size: 14px;
        line-height: 1.43;
        color: #36271c;
        font-weight: 500;
    }
    & .button {
        display: block;
        color: #fd8854;
        &:hover {
            opacity: 0.85;
        }
    }
}