/* Styles for dialog window */

.mfp-bg {
    background-color: rgba(54, 39, 28, 0.9);
    opacity: 1!important;
}

.mfp-close-btn-in .mfp-close {
    color: #FF5722;
    font-size: 50px;
}

.tiger-modal {
    background: transparent;
    padding: 60px 25px;
    max-width: 780px;
    border-radius: 2px;
    border: solid 3px #fd8854;
    margin: 40px auto;
    position: relative;
    color: #fff;
    .popup__content {
        h4 {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.11;
            text-align: center;
            color: #ffffff;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            line-height: 1.06;
            text-align: center;
            color: #ffffff;
            font-weight: 300;
        }
        .btn {
            min-width: 140px;
        }
    }
    .popup__end {
        margin-top: 30px;
        a {
            font-size: 14px;
            text-align: center;
            color: #fff;
            text-decoration: underline;
        }
    }
}

.tiger-copy-popup {
    .form {
        width: 100%;
        display: inline-block;
        max-width: 440px;
        input.form-input-fields {
            height: 46px;
            line-height: 46px;
            min-width: 300px;
            padding-left: 20px;
            border: solid 3px #fd8854;
            float: left;
            background: transparent;
            @media screen and (max-width: 517px) {
                width: 100%;
                min-width: auto;
            }
        }
        .btn {
            margin-left: -5px;
            height: 46px;
            line-height: 42px;
            background: #fd8854;
            color: #fff;
            font-weight: 400;
            padding: 0;
            @media screen and (max-width: 517px) {
                width: 100%;
                margin-top: 5px;
                margin-left: 0;
            }
        }
    }
    .mfp-close {
        display: block;
    }
}

.tiger-copy-thank {
    .popup__body {
        p {
            margin-bottom: 20px;
        }
    }
}

.tiger-modal-exit {}

.tiger-exit-popup {
    max-width: 500px;
    .popup__content {
        h4 {
            font-size: 24px;
            font-weight: bold;
            line-height: 0.71;
            color: #ffffff;
            margin: 20px 0;
        }
        p {
            font-size: 20px;
            line-height: 0.85;
            color: #ffffff;
            margin-bottom: 30px;
        }
    }
}


/**
 * Fade-zoom animation for first dialog
 */


/* start state */

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* animate in */

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* animate out */

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}


/* Dark overlay, start state */

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out */

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/**
 * Fade-move animation for second dialog
 */


/* at start */

.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -moz-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -ms-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    -o-transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
    transform: translateY(-20px) perspective( 600px) rotateX( 10deg);
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective( 600px) rotateX( 0);
    -moz-transform: translateY(0) perspective( 600px) rotateX( 0);
    -ms-transform: translateY(0) perspective( 600px) rotateX( 0);
    -o-transform: translateY(0) perspective( 600px) rotateX( 0);
    transform: translateY(0) perspective( 600px) rotateX( 0);
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    -moz-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    -ms-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    -o-transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
    transform: translateY(-10px) perspective( 600px) rotateX( 10deg);
}


/* Dark overlay, start state */

.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out */

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}