/****** Page Title / Breadcrumb *******/

.section-title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(57, 57, 57);
}

.breadcrumb {
    margin-bottom: 0px;
    background-color: transparent;
    padding: 0px;
    list-style: none;
    border-radius: 0px;
    margin: 10px 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    li.active {
        color: #fd8854;
    }
    li {
        a {
            color: rgb(211, 211, 211);
            font-weight: normal;
            transition: all 0.3s ease;
            &:hover {
                text-decoration: none;
                color: rgb(30, 30, 30);
            }
        }
    }
    & li+li:before {
        padding: 0 5px;
        color: #ccc;
        content: ">";
    }
}

header.inner-page {
    margin-top: 60px;
    h1 {
        font-size: 20px;
        font-weight: 700;
        color: #36271c;
    }
}