<!--Footer-->
<!-- chat  (insert for some pages)-->

<footer id="footer" class="footer">

    <!-- footer cta block-->
    <div class="footer-banner bottom-fixed-banner">
        <div class="bottom-fixed-banner__close">
            <img src="../img/x.svg" alt="close">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-3">
                    <p>Haven’t found what you want? </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <a class="foot-btn" href="http://essays.healtheappointments.com/?login-first=1&utm_source=healtheappointments.com&utm_campaign=footer_essay&utm_medium=R&utm_term=get_your_custom_essay_sample" onclick="ga('send', 'event', 'CTA', 'footer', 'get_custom_essay_sample');">Get your Custom Essay Sample!</a>
                    <img class="cta-animate" src="img/animation.gif" alt="sample">
                </div>
                <div class="col-lg-4 col-md-3 col-sm-3">
                    <p>For only <strong>$12.90</strong> per page</p>
                </div>
            </div>
        </div>
    </div>

    <!-- //footer cta block-->

    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="widget">
                    <div class="widget-body">
                        <ul>
                            <li><a href="">Free Essays</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="widget">
                    <div class="widget-body">
                        <ul>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                            <li><a href="">About us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="widget">
                    <div class="widget-body">
                        <div class="contact">
                            <ul>
                                <li>300 Park Ave, New York, NY 10022</li>
                                <li> <a href="mailto:info@studytiger.com">info@studytiger.com</a></li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <a href="">
                                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 copyright text-center">
                <p>
                    Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
<script src="https://use.fontawesome.com/a2e418ff03.js" async></script>

</body>

</html>