<a class="exit-popup-open" href="#exit_popup">Exit</a><br>
<a class="popup-with-zoom-anim" href="#copy">Copy</a><br>
<a class="popup-with-zoom-anim" href="#copy-thank">Copy Thank</a><br>

<!-- copy pop-up -->
<div id="copy" class="tiger-copy-popup zoom-anim-dialog mfp-hide tiger-modal text-center">
    <div class="popup__content">
        <div class="popup__heading">
            <h4>Sorry, but copying text is forbidden on this website. <br> If you need this or any other sample, we can send it to you via email.<br> Please, specify your valid email address</h4>
        </div>
        <div class="popup__body">
            <div class="popup__form">
                <form id="mailsender" class="form" method="POST" action="javascript:void(null);">
                    <input type="email" class="form-input-fields" name="mail" placeholder="Email">
                    <input type="submit" class="btn btn-theme" value="Submit">
                </form>
            </div>
            <div class="popup__end">
                <a href="#" class="popup-modal-dismiss">No, thanks. I prefer suffering on my own.</a>
            </div>
        </div>
    </div>
</div>


<div id="copy-thank" class="tiger-copy-thank zoom-anim-dialog mfp-hide tiger-modal text-center">
    <div class="popup__content">
        <div class="popup__heading">
            <h4>
                Thank you!<br> How about make it original at only $12,90/page?
            </h4>
        </div>
        <div class="popup__body">
            <p>Let us edit it for you at only $12.90 to make it 100% original!</p>
            <button class="btn button btn-theme">Order now</button>
        </div>
    </div>
</div>


<!-- Exit Pup-UP -->
<div id="exit_popup" class="tiger-exit-popup zoom-anim-dialog mfp-hide tiger-modal text-center">
    <div class="popup__content">
        <div class="popup__heading">
            <img src="../img/heart.svg" alt="">
        </div>
        <div class="popup__body">
            <h4>
                HAVEN’T FOUND YOUR TOPIC?
            </h4>
            <p>
                Let us write it for you!
            </p>
            <button class="btn button btn-theme">Order now</button>
        </div>
    </div>
</div>