<div class="search-shorcode-wrap">
    <form role="search" method="get" class="search-form form" action="/">
        <div class="form-group form-input-fields">
            <input type="search" class="search-field form-control" placeholder="What are you looking for?" value="" name="s">
            <div class="form-icon-serach"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-default button">Search</button>
        </div>
    </form>
</div>